body {
  padding-top: 100px;
  background-image: url(../images/psychic.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 100%;
}

.container {
  justify-content: center;
  width: 400px;
  height: 400px;
  text-align: center;
  margin: 40px;
  color: white;
    font-family: fantasy;
}

#title {
  text-align: center;
  font-size: 350%;
  font-family: fantasy;
  color: white;
}

.column {
  justify-content: left;
  display: flex;
  width: 150px;
  height: 100px;
  margin: 50%;
  font-family: fantasy;
  color: white;
}

.w3-panel {
  text-align: center;
  font-family: fantasy;
  color: white;
}
